# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.swp

# Byte-compiled / optimized / DLL files
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
.pyright/

# End of https://www.toptal.com/developers/gitignore/api/python

# Docker
*.log
docker-compose.override.yml
docker-compose.override.yaml
.env

# Nginx
/nginx.conf

# OAuth2 Proxy
/oauth2_proxy.cfg

# IDEs and Editors
# Eclipse
.project
.pydevproject

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/
*.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Visual Studio Code
.vscode/
*.code-workspace

# Vim
*.swp

# MacOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
